<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="software.oi.engelfax"
    android:versionCode="3"
    android:versionName="0.3" >

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.EngelMessenger"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EngelPreview"
            android:label="@string/title_activity_engel_preview"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".activity.PaintActivity" android:screenOrientation="portrait" android:label="@string/paint_title">

        </activity>
    </application>

</manifest>
